 /*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

 body {
    /*background-image: url(../img/login-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    font-family: 'Axiforma';
    padding: 0;
    margin: 0;
}

input:focus {
    outline: none;
}

.body_scroll{overflow:hidden;}
.sectionmain {
    float: left;
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-image: url(../img/login-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

#register_page .form-group{margin-bottom: 0px;}
#register_page .form-control{font-size: 13px;}


  .container{float: left;width: 100%;padding: 0px;}
  .login_logo{
    float: left;
    width: 18%;
    margin-left: 38px;
    margin-right: 82%;
    margin-top: 1%;
  }
  .login_logo img{width: 100%}

  .nav-tabs {float: left;width: 100%;border-bottom:0px solid #ddd;margin:15px 0% 25px;}
    /*.login-register-form-section {width:418px;float: right;padding: 40px;height: 422px;margin-right: 12%;}*/

    .login-register-form-section{
        width: 70%;
        margin: 0px auto;
    }


    #reg_page {
        width: 100%;
    }
    #reg_page .login-register-form-section-head{width: 80%; float: none;margin: 0px auto;}
    #reg_page select.form-control {
        border: 0;
        box-shadow: none;
        margin: 0;
        height: 22px;
        padding-top: 1px;
        margin-top: -1px;
    }

    .login-register-form-section i {width: 10px;}
    .login-register-form-section-head{float: left;width: 100%;color: #fff;font-size: 26px;font-weight: 400;    text-align: center;}
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a{padding: 0px;}
    .nav-tabs > li > a{padding: 0px;border:none;color: #fff;font-size: 12px;}
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{border:0px;font-weight: 600;color:#fff;background-color: transparent;}
 
    .nav > li > a:focus, .nav > li > a:hover {text-decoration: none;background-color: none !important;}
    
.nav-tabs > li {margin-right: 2%;color: #fff;}

.btn {outline: none;}

#top_header{background-color: #f2f2f2;}

.logreg_page {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

#loginissie {
    /*float: left;*/
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.marginal_align{
    float: left;
    width: 100%;
    margin: 0px 0px 0px -60px;
}
.loginhead {
    float: left;
    width: 100%;
    color: #000000;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.5px;
    line-height: 35px;
}

.loginhead span {
    float: left;
    width: 100%;
    color: #ffb900;
    font-size: 24px;
}

.loginhead p {
    float: left;
    width: 100%;
    font-size: 12px;
    color: #9d9d9d;
    font-weight: initial;
    margin-top: 30px;
}

.log_reg_bg {
    float: left;
    width: 100%;
}

.log_reg_bg img {
    float: left;
    width: auto;
    height: 100vh;
}

.login_reg_form {
    float: left;
    width: 80%;
    margin: 0px 10%;
}

.input-group {
    padding: 8px 0%;
    background: #fff;
    border-radius: 0px;
    float: left;
    width: 100%;
    margin: 13px 0px;
    box-shadow:2px 2px 8px #d5d2d2;
}

.accept_tandcs {
    float: left;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    padding: 0px 10%;
    margin-top: 15px;
    z-index: 1;
}

.input-group input::placeholder {
    opacity: 1 !important;
}

.input-group-addon img {
    margin-top: -3px;
    width: 15px;
    height: auto;
}

#login_btn {
    padding: 12px 0px;
    border-radius: 50px;
    background: #ffb900;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 15px auto;
    width: 35%;
    display: block;
    box-shadow: 1px 2px 4px #938686;
    box-shadow: 0 5px 15px 0 rgba(255, 148, 6, 0.6);
    border: solid 1px rgba(255, 255, 255, 0.35);
    background-image: linear-gradient(to right, rgba(255, 148, 6, 0.6), #ff740b);
    outline: none;
}

#reg_btn {
    padding: 12px 0px;
    border-radius: 50px;
    background: #ffb900;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 15px auto;
    width: 35%;
    display: block;
    box-shadow: 0 5px 15px 0 rgba(255, 148, 6, 0.6);
    border: solid 1px rgba(255, 255, 255, 0.35);
    background-image: linear-gradient(to right, rgba(255, 148, 6, 0.6), #ff740b);
    outline: none;
}

#login_error_id {
    float: left;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 12px;
}

.login_reg_form input {
    font-size: 13px;
    line-height: 24px;
}

label.Remember-right a {
    color: #777777;
    text-decoration: none;
}

input#myInput {
    border: 0;
}

.showpass{
    position: absolute;
    right: 0;
    top: 0;
    float: left;
    width: 10%;
    cursor: pointer;
    padding: 2.5%;
    margin: 5px 5% 0px -10%;
}
.showpass img{float: left; width: 100%;}
#phoneid{
    width:65%;
    background: transparent;
    border: none;
    box-shadow: none;
    color: #555;
    padding-left: 2%;
}

    #emailId {
    width:98%;
    background: transparent;
    border: none;
    box-shadow: none;
    color: #555555;}
    #myInput {
    width:96%;
    background: transparent;
    border: none;
    box-shadow: none;
    color: #555555;
    line-height: 24px;
}
    #passwordId{width:96%;
    background: transparent;
    border: none;
    box-shadow: none;
    color: #fff;}
    #d_user_name_id{width:96%;
    background: transparent;
    border: none;
    box-shadow: none;}
    #d_password_id{width:96%;
    background: transparent;
    border: none;
    box-shadow: none;}
    .input-group-addon {
    background: transparent;
    border: none;}
    .login-register-form-section .btn-custom {
       width: 100%;color: #fff;margin-bottom: 0.5em;border: none;padding: 20px 0%;font-weight: 600;background: #2b2b2b;border-radius: 50px;
        font-size: 16px;
    letter-spacing: 0.5px;
    }
    .login-register-form-section .btn-custom:hover {background-color: #222f3e;border-color: #222f3e;color: white;}
    
    .locateon {float: left;width: 100%;}
    .locateon a{text-decoration: none;font-size: 12px; margin-top: 10px; text-align: center;}
    /*.locateon a:hover{color: #fff;}*/
    /*.locateon a:focus{color: #fff;}*/
    .forgot_pass{color:#ffb900 !important; font-weight:500;}

    .getinlogo {
        position: absolute;
        width: auto;
        right: 5%;
        top: 20px;
        z-index: 10;
    }
    .getinlogo img {
        width: 90px;
    }




    .locateon b{font-weight: 600;letter-spacing: 0.5px;font-size: 14px;border-bottom: 2px solid #ffb900;}

    .pull-right_login{float: left !important;color: #2e2e2e;width:50%;font-size: 12px;}
    .pull-right_login a{outline: none;}
    .login-register-form-section .form-group {padding: 0 5px;}

    .inputcheckbox {
        float: left;
        width: 10%;
        margin: 2px 6% 0px 10%;
    }
    .rememberme {
        float: left;
        width: auto;
        line-height: 32px;
    }
    #rememberMe{margin-right: 8px;}
    .input-group-addon{padding-left: 20px;}
.row {margin-right:0px;margin-left: 0px;}
.Remember-right{font-weight: 500;font-size: 12px;color:  #9b9a9a; margin-top: 0px; float: left;}
.developerlogin{float: left;width: 100%;margin-top: 10px;}
.userrightsection{float: left;width: 50%;
height: 100vh;
    position: relative;
    align-items: center;
    display: flex;
    margin-top:-20px;
}

.tab-content {
    /*float: left;*/
    width: 80%;
    margin: 0px auto;
}
.login-register-form-section .tab-content {
    position: relative;
}

.userlogin{float: left;width: 100%;margin: 90px 0%;}
.userlogincontent{float: left;width:50%;}
.userloginright{float: left;width: 45%;}
.registrate{float: left;width: 100%;}
/*.registratehead{float: left;width: 74%;margin-top:270px;margin-bottom:24px;}*/

.registratehead {
    float: left;
    margin-top: 40%;
    position: relative;
    margin-left: -10px;
    width: 86%;
    }

.error_msg {
    float: right;
    border: 1px solid red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: -15px;
    text-align: center;
    background: red;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.registratehead img{float: left;width: 100%;}

#reg_head {font-size: 34px;}


.marlr{margin-left: 0px !important; margin-right: 0px !important; 
padding-left: 5px !important; padding-right: 5px!important;}

select#type_of_user{
    height:auto; 
    padding: 4px 12px 5px;
    border: 0px solid #ccc;
    border-radius: 0px;
    box-shadow: none;
    text-transform: capitalize;
    max-height: 26px;
    outline: none;
    color: #2e2e2e;
}

.selectbox {
    box-sizing: border-box;
    font-size: 11pt;
    display: inline-block;
    float: left;
    margin: -5px;
    background: #fff;
    width: 100%;
    position: relative;
}
.selectbox__label {
    color: #202020;
    border-radius: 0px;
    border: 0px solid #eee;
    box-shadow: 0px 0px 0px #eee;
}
.selectbox__label:hover{
    border: 0px;
    color: #fab902;
}
.selectbox__label:hover:after{border-top:6px solid #fab902}
.selectbox__option--selected {
    color: #fff;
    background: #373737;
}
.selectbox__option {
    padding: 7px 10px;
    border-left: 1px solid #373737;
    border-right: 1px solid #373737;
}
.selectbox__option:hover {
    background: #fab902;
}




/*.registrateheadcaption{float: left;width: 100%;font-size: 14px;margin: 10px 0%;color: #222f3e;}*/
/*
.pan el {max-width: 360px;background: #fff; box-shadow: 0px 0px 4px 0px #D5D5D5;border-radius: 8px;color: #666;margin: auto;text-align: center;position: relative;left: 0;right: 0;top: 0;bottom: 0;height: 450px;}*/



@media screen and (max-width: 640px){
    .body_scroll{overflow:scroll;}
    .sectionmain {background-color: #ffb911;background-image: none; height: auto;overflow-y: scroll;
    padding-bottom: 100px;}
    .login_logo {width: 30%;}
    .login-register-form-section{margin-top: 10px;width: 100%;}
    .registratehead {display: none;}
    .input-group{margin: 5px 0px;}
 
}

@media screen and (max-width: 768px){


    #mob_get{display: none;}
    .marginal_align{margin: 0px 0px 0px 0px; padding: 5px;}
    #mob_response{margin: 70px 0%;}

    .showpass {width: 8%;padding: 1.5% 2.5%;margin: 0px 2% 0px -10%;}
    .cc-picker-code-filter{width: 35%;}
    .cc-picker-code-list{width: 35%;}

    .userlogincontent{width: 100%;}
    .userrightsection{width: 100%;height: auto;}
    .registratehead {margin: 10% 0% 0px -2%; width: 70%;position: absolute;bottom: 5%;}
    .login-register-form-section {
    background: #ffb911;
    padding: 30px 4%;
    margin-top: 80px;
}

.selectbox {
    display: none !important;
}
.justwrap {
    position: relative;
    display: block;
    float: left;
    width: 95% !important;
    min-height: auto !important;
    margin: auto !important;
}
.justwrap.form-control{padding-left:0px !important; }

}

@media screen and (max-width: 640px){
    .userrightsection{height: 100vh;}
    .login-register-form-section {background: #ffb911;padding: 0px 0%;margin-top: 0px;}
    #reg_page {margin-top: 150px;}
    #reg_page .tab-content {width: 100%;}
    .login_reg_form {width: 89%;margin: 0px 5%;}
}


@media screen and (max-width: 360px){
    .registratehead {display: none;}
    .userrightsection { width: 100%; margin-top: 0px;}
    #reg_page {padding: 0px 0% 30px 0;margin: 0 0 0px 0;}
    .tab-content {width: 100%;}
    .sectionmain{padding: 0px;}
    .body_scroll{overflow:scroll;}
    .login-register-form-section { margin-top: 0px; width: 90%;}
    #loginissie{margin-top: -70px;}
    .showpass{width: 10%;padding: 4% 2.5%;}
    .cc-picker-code-filter{width: 70% !important;}
    .cc-picker-code-list{width: 70% !important;}
    .accept_tandcs{padding: 0px 5%;}
    .inputcheckbox {margin: 2px 2% 0px 2%;}

}

@media screen and (min-width: 769px) and (max-width: 1024px){
.login-register-form-section {
    width: 90%;margin: 0px auto 0px 5%;
}

.body_scroll {

    overflow: scroll;

}

#reg_page .login-register-form-section-head {

    width: 100%;}

.registratehead {
    margin-top: 70%;
    width: 95%;
}
.tab-content {
    float: left;
    width: 95%;


}

.invalid-feedback{
    color: #CF1715;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
}
.invalid-feedback strong{
    font-weight: 500;
}
.login-register-form-section i.error{
    font-size: 20px;
    color: #CF1715;
    position: absolute;
    right: 25px;
}
}
/*@media only screen and (min-width: 1400px) and (max-width:1500px) {
.inputcheckbox {margin: 5px 2% 0px 10%;}
}
*/
@media screen and (min-width: 1400px) and (max-width: 2084px){
.registratehead{margin-top: 40%;}
.login-register-form-section{width: 45%;}
.rememberme{line-height: 27px;}
.login-register-form-section-head{font-size: 44px;}
.accept_tandcs {padding: 0px 20%;}
}


@media only screen and (min-width: 1500px) and (max-width:1920px) {
    .inputcheckbox {margin: 2px 0% 0px 10%;}
    .Remember-right{margin-top:1px;}    
}
